/* This file is for your main application scss. */
@import '~bootstrap/dist/css/bootstrap.min.css';
.logo {
  width: 100%;
  height: 180px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/retro.png");
  background-size: 100% 180px;
}

.retro-column {
    float: left;
    width: 33.33%;
    padding: 1em;
}

.selected-item {
    background-color: lightgrey;
}

.clickable {
    cursor: pointer;
}