/* This file is for your main application scss. */
@import '~bootstrap/dist/css/bootstrap.min.css';
.logo {
    left:0;
    top:0;
    height:100%;
    position: relative;
}

.background-logo {
    background: url("/images/retro.svg") center;
    background-repeat: no-repeat;
    background-size: 50%;
}

h2, h3 {
    color: #553E4E;
}

.retro-column {
    float: left;
    width: 33.33%;
    padding: 1em;
}

.selected-item {
    background-color: lightgrey;
}

.clickable {
    cursor: pointer;
}


.btn-primary:focus,
.btn-primary:active,
.btn-primary {
    color: #A30015;
    background-color: #fff;
    border-color: #A30015;
}

.btn-primary:hover {
    color: #fff;
    background-color: #A30015;
    border-color: #A30015;
}

a {
    color: #A30015;
    text-decoration: none;
}
a:hover {
    color: #A30015;
    text-decoration: underline;
}

.seperator {
    border:none;
    border-top:3px dotted #553E4E;
    color:#553E4E;
    background-color:#fff;
    height:1px;
    width:75%;
}